# Ignore virtual environment
venv/

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# Ignore system files (Mac & Windows)
.DS_Store
Thumbs.db

# Ignore log files
*.log

Dataset/deliveries_encoded.csv
